<div class="container justify-content-center ">
    <div class="row align-content-center">
        <div class="col-8"> LE PALLE</div>
        <img src="https://i.pinimg.com/originals/c1/dc/e5/c1dce52cd09a252f64d1641892b5c1b0.gif" height="500px" width="1920" />
        
    </div>
    <div class="row align-content-center">
        <div class=""> 
            <h1>LE MIE 🅱️ALLE 😀</h1>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia odio sit amet pharetra fringilla. Donec nibh nisi, iaculis non ante vel, tristique ultricies elit. Etiam luctus luctus placerat. Maecenas non libero nulla. Curabitur molestie est vitae mattis pharetra. Nunc commodo dui eu placerat ultricies. Proin consectetur dignissim urna. Sed semper in lectus eget tristique. Vivamus sodales arcu at tincidunt aliquet.</p>
        </div>
    </div>
</div>
