<div class="container justify-content-center mx-lg-6">
    <div class="row align-content-center">
        <div class="col-12"> 
        <h1>SAPPI UNA COSA🥸</h1>        
        </div>
        <img src="https://cdna.artstation.com/p/assets/images/images/025/789/352/original/pixel-jeff-galaxy-far-far-away.gif?1586928273" height="500px" width="1920px" />
        
    </div>
    <div class="row align-content-center">
        <div class=""> 
            <h1>RIGUARDO ALLE MIE GRANDI 🅱️ALLE</h1>
        </div>
        <div>
            <p>
                Cras pellentesque vulputate metus. Morbi suscipit ante quis sem mattis suscipit. Fusce blandit fringilla erat, at sodales massa lobortis vel. Vestibulum enim quam, malesuada a nibh eu, porttitor convallis orci. Nulla facilisi. Suspendisse maximus id risus at dignissim. Praesent porta libero id dui sollicitudin pellentesque. Suspendisse vel aliquet dolor. Sed interdum lectus in faucibus ullamcorper. In tincidunt enim vel arcu fermentum bibendum. Proin vel erat aliquam, laoreet odio sit amet, volutpat ex. Aenean tempus accumsan tellus nec vehicula. Aliquam tempus mollis luctus.        </div>
    </div>
</div>