<div class="container justify-content-center mx-lg-6">
    <div class="row align-content-center">
        <div class="col-12"> 
        <h1>Sezione Con molte cose</h1>        
        </div>
        <img src="https://th.bing.com/th/id/R.4f0d3c935ea0ab330a081bc9a7e79519?rik=ho7fJZg24ashBQ&pid=ImgRaw&r=0" height="500px" width="1920px" />
        
    </div>
    <div class="row align-content-center">
        <div class=""> 
            <h1>LE MIE MOLTE 🅱️ALLE 🎳</h1>
        </div>
        <div>
            <p>
                Curabitur ultrices dolor tortor, vitae aliquam tellus pretium vel. Nam varius dolor porta ipsum eleifend, at condimentum ante pretium. Curabitur at neque hendrerit, pulvinar quam eu, consequat enim. Donec ac urna dictum, commodo magna vitae, tincidunt ante. Vestibulum gravida sit amet erat vel mollis. Praesent ac malesuada metus. Pellentesque at tortor id justo mattis interdum. Cras nec eleifend sem. Fusce at dui vel urna dictum varius. Donec tristique augue a aliquam luctus. Nulla diam magna, rutrum ac posuere nec, lobortis quis augue. Nunc tempor mattis sapien, laoreet feugiat ligula pellentesque accumsan. Nulla risus tortor, vestibulum sed sem interdum, interdum scelerisque sapien.            </p>
        </div>
    </div>
</div>
